.songs {
  &-artist-name {
    color: #333;
  }
  &-album {
    &-container {
      border-radius: 12px;
      -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      padding: 0 !important;

      a:hover {
        color: #333;
      }
    }
    &-image {
      width: 100%;
      max-width: 250px;
    }
    &-name {
      color: #333;
    }
  }
}
