body {
  overflow-y: scroll;
}

.navbar-fixed-top {
  position: absolute;
}

.table .btn-link {
  padding: 0px 12px;
}

.panel-footer .pagination {
  margin: 0;
}

.App {
  &-container {
    margin: 0;
    padding: 0;
  }

  &-content {
    flex: 1;
    min-height: calc(100% - 51px);
    padding: 70px 0 50px;
  }
}

.footer {
  padding: 15px 30px;
  width: 100%;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-top: 1px solid #ddd;
}
