.album {
  &-container {
    width: 100%;
    padding: 20px 0;
  }
  &-content {
    width: 100%;
    max-width: 310px;
    max-height: 330px;
    margin: 0 auto 25px;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  &-image {
    width: 100%;
    min-height: 250px;
  }
  &-list {
    margin: 0;
    &-empty {
      width: 100%;
    }
  }
  &-name {
    &-container {
      height: 80px;
      width: 100%;
      padding: 15px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  &-artist {
    &-container {
      display: flex;
      flex-flow: row wrap;
    }
    &-name {
      width: auto;
      padding: 0 20px 0 0;
    }
    &-external_url{
      padding: 28px 0 10px;
      color: #333333;
      font-size: 18px;

      &:hover {
        color: #333333;
      }
    }
  }

  &-list {
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    a:hover {
      color: #333333;
      text-decoration: none;
    }
  }
}
