.search-bar {
  &-container {
    position: relative;
    z-index: 10;
    padding: 0 0 40px;
    outline: none;
  }

  &-field {
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    overflow: auto;
  }

  &-suggestions {
    &-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      border: 1px solid #ccc;
      margin: 0;
      max-height: 240px;
      overflow: auto;
      padding: 0;
      position: absolute;
      z-index: 10;
      top: 50px;
      width: 100%;
      background-color: #fff;
      user-select: none;
    }

    &-item {
      cursor: pointer;
      height: 40px;
      letter-spacing: .03em;
      line-height: 40px;
      padding: 0 7px 0 10px;
      transition: background-color .4s ease-in-out;

      &:hover {
        background-color: #e9e9e9;
      }

      &.active {
        background-color: #ccc;
      }
    }
  }

  &-label {
    font-size: 20px;
    padding: 0 0 10px;
  }

  &-input {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    height: 40px;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    outline: 0;
    border-radius: 0px;
    box-shadow: none;
  }

  &-button-search {
    background: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 0;
    outline: 0;
    background-image: url(./../../assets/icons/search.svg);
    background-color: #e5e5e5;
    background-size: 35%;
    border: 1px solid #ddd;
    padding: 0 20px;
    opacity: .8;
    width: 40px;
    height: 40px;
  }

  &-button-clear {
    background: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    font-size: 0;
    outline: 0;
    padding: 0;
    background-image: url(./../../assets/icons/clear.svg);
    background-size: 30%;
    right: 0;
    width: 40px;
    height: 40px;
    align-items: flex-start;
    text-align: center;
    text-shadow: none;
    display: inline-block;
    margin: 0;
  }
}

.form-control:focus.search-bar-input {
  border: none;
  box-shadow: none;
}
